.build/**
game.exe
*.pdb
*.rdbg
game/shader.glsl_hlsl5_fs.glsl
game/shader.glsl_hlsl5_fs.spv
game/shader.glsl_hlsl5_vs.glsl
game/shader.glsl_hlsl5_vs.spv
game/shader.glsl_wgsl_fs.glsl
game/shader.glsl_wgsl_fs.spv
game/shader.glsl_wgsl_vs.glsl
game/shader.glsl_wgsl_vs.spv
atlas.png
game/shader.odin
font.png
/examples/blend/main.odin
/examples/blend/shader.glsl
/examples/blend/shader.odin
/examples/bufferoffsets/main.odin
/examples/bufferoffsets/shader.glsl
/examples/bufferoffsets/shader.odin
/examples/clear.exe
/examples/clear/main.odin
/examples/cube/main.odin
/examples/cube/shader.glsl
/examples/cube/shader.odin
/examples/debugtext-print/main.odin
/examples/debugtext-userfont/main.odin
/examples/debugtext/main.odin
/examples/instancing/main.odin
/examples/instancing/shader.glsl
/examples/instancing/shader.odin
/examples/math/math.odin
/examples/mrt/main.odin
/examples/mrt/shader.glsl
/examples/mrt/shader.odin
/examples/noninterleaved/main.odin
/examples/noninterleaved/shader.glsl
/examples/noninterleaved/shader.odin
/examples/offscreen/main.odin
/examples/offscreen/shader.glsl
/examples/offscreen/shader.odin
/examples/quad/main.odin
/examples/quad/shader.glsl
/examples/quad/shader.odin
/examples/saudio/main.odin
/examples/sgl-context/main.odin
/examples/sgl-points/main.odin
/examples/sgl/main.odin
/examples/shapes/main.odin
/examples/shapes/shader.glsl
/examples/shapes/shader.odin
/examples/texcube/main.odin
/examples/texcube/shader.glsl
/examples/texcube/shader.odin
/examples/triangle/main.odin
/examples/triangle/shader.glsl
/examples/triangle/shader.odin
/examples/vertexpull/main.odin
/examples/vertexpull/shader.glsl
/examples/vertexpull/shader.odin
/sokol-shdc.exe
/sokol/app/app.odin
/sokol/app/sokol_app_windows_x64_d3d11_debug.lib
/sokol/app/sokol_app_windows_x64_d3d11_release.lib
/sokol/app/sokol_app_windows_x64_gl_debug.lib
/sokol/app/sokol_app_windows_x64_gl_release.lib
/sokol/audio/audio.odin
/sokol/audio/sokol_audio_windows_x64_d3d11_debug.lib
/sokol/audio/sokol_audio_windows_x64_d3d11_release.lib
/sokol/audio/sokol_audio_windows_x64_gl_debug.lib
/sokol/audio/sokol_audio_windows_x64_gl_release.lib
/sokol/build_clibs_windows.cmd
/sokol/c/sokol_app.c
/sokol/c/sokol_app.h
/sokol/c/sokol_audio.c
/sokol/c/sokol_audio.h
/sokol/c/sokol_debugtext.c
/sokol/c/sokol_debugtext.h
/sokol/c/sokol_defines.h
/sokol/c/sokol_gfx.c
/sokol/c/sokol_gfx.h
/sokol/c/sokol_gl.c
/sokol/c/sokol_gl.h
/sokol/c/sokol_glue.c
/sokol/c/sokol_glue.h
/sokol/c/sokol_log.c
/sokol/c/sokol_log.h
/sokol/c/sokol_shape.c
/sokol/c/sokol_shape.h
/sokol/c/sokol_time.c
/sokol/c/sokol_time.h
/sokol/c/sokol.c
/sokol/CHANGELOG.md
/sokol/debugtext/debugtext.odin
/sokol/debugtext/sokol_debugtext_windows_x64_d3d11_debug.lib
/sokol/debugtext/sokol_debugtext_windows_x64_d3d11_release.lib
/sokol/debugtext/sokol_debugtext_windows_x64_gl_debug.lib
/sokol/debugtext/sokol_debugtext_windows_x64_gl_release.lib
/sokol/gfx/gfx.odin
/sokol/gfx/sokol_gfx_windows_x64_d3d11_debug.lib
/sokol/gfx/sokol_gfx_windows_x64_d3d11_release.lib
/sokol/gfx/sokol_gfx_windows_x64_gl_debug.lib
/sokol/gfx/sokol_gfx_windows_x64_gl_release.lib
/sokol/gl/gl.odin
/sokol/gl/sokol_gl_windows_x64_d3d11_debug.lib
/sokol/gl/sokol_gl_windows_x64_d3d11_release.lib
/sokol/gl/sokol_gl_windows_x64_gl_debug.lib
/sokol/gl/sokol_gl_windows_x64_gl_release.lib
/sokol/glue/glue.odin
/sokol/glue/sokol_glue_windows_x64_d3d11_debug.lib
/sokol/glue/sokol_glue_windows_x64_d3d11_release.lib
/sokol/glue/sokol_glue_windows_x64_gl_debug.lib
/sokol/glue/sokol_glue_windows_x64_gl_release.lib
/sokol/helpers/allocator.odin
/sokol/helpers/glue.odin
/sokol/helpers/logger.odin
/sokol/log/log.odin
/sokol/log/sokol_log_windows_x64_d3d11_debug.lib
/sokol/log/sokol_log_windows_x64_d3d11_release.lib
/sokol/log/sokol_log_windows_x64_gl_debug.lib
/sokol/log/sokol_log_windows_x64_gl_release.lib
/sokol/README.md
/sokol/shape/shape.odin
/sokol/shape/sokol_shape_windows_x64_d3d11_debug.lib
/sokol/shape/sokol_shape_windows_x64_d3d11_release.lib
/sokol/shape/sokol_shape_windows_x64_gl_debug.lib
/sokol/shape/sokol_shape_windows_x64_gl_release.lib
/sokol/sokol_dll_windows_x64_d3d11_debug.dll
/sokol/sokol_dll_windows_x64_d3d11_debug.exp
/sokol/sokol_dll_windows_x64_d3d11_debug.lib
/sokol/sokol_dll_windows_x64_d3d11_release.dll
/sokol/sokol_dll_windows_x64_d3d11_release.exp
/sokol/sokol_dll_windows_x64_d3d11_release.lib
/sokol/sokol_dll_windows_x64_gl_debug.dll
/sokol/sokol_dll_windows_x64_gl_debug.exp
/sokol/sokol_dll_windows_x64_gl_debug.lib
/sokol/sokol_dll_windows_x64_gl_release.dll
/sokol/sokol_dll_windows_x64_gl_release.exp
/sokol/sokol_dll_windows_x64_gl_release.lib
/sokol/time/sokol_time_windows_x64_d3d11_debug.lib
/sokol/time/sokol_time_windows_x64_d3d11_release.lib
/sokol/time/sokol_time_windows_x64_gl_debug.lib
/sokol/time/sokol_time_windows_x64_gl_release.lib
/sokol/time/time.odin
/TODO.txt
